{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container">

  <hr class="col-md-12">
    <h2>Edit Book</h2>
  <hr>
  <p></p>

    <div class="card-body">
    <form method="post" action="">
          {% csrf_token %}
          <div class="form-group">
            <label>Book name</label>
            {{ book_form.name }}
          </div>
          <div class="form-group">
            <label>Author</label>
            {{ book_form.author }}
          </div>
        <div class="form-group">
            <label>Pages</label>
            {{ book_form.pages_count }}
          </div>

        <div class="form-group">
            <label>Price</label>
            {{ book_form.price }}
          </div>
        <div class="form-group">
            <label>Amazon rating</label>
            {{ book_form.amazon_rating }}
          </div>

          <input type="submit" class="btn btn-primary">
        </form>
    </div>

</div>

{% endblock %}